.principal {
  margin-bottom: 100px;
}

.principal-titulo {
  display: flex;
  margin: 0 auto;
  width: 700px;
}

.principal h1 {
  font-family: "Poppins";
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.principal p {
  padding-top: 50px;
  font-family: "Poppins";
  font-weight: 300;
}

.principal-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 800px) {
  .principal-titulo {
    width: auto;
  }
}