.vespera-geral {
  margin-top: 50px;
}

.vespera-geral h2 {
  font-family: "Poppins";
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.programacao-vespera ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 10px 10px;
}

.programacao-vespera li {
  text-align: center;
  font-family: "Poppins";
  border: solid 1px #0050ff;
  border-radius: 5px;
  padding: 10px 20px;
}

.programacao-vespera h3 {
  font-weight: 500;
  color: #ffd900;
}

.programacao-vespera span {
  color: #00a8ff;
}

.programacao-btn {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  gap: 0px 30px;
  margin-top: 50px;
  justify-content: center;
}

.programacao-btn p {
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.programacao-btn img {
  justify-self: center;
  width: 250px;
}

.programacao-btn a {
  text-align: center;
  align-self: center;
  width: 200px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #0050ff;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .programacao-btn{
    grid-template-columns: 1fr;
  }
  .programacao-btn img {
width: 200px;
margin-bottom: 30px;
  }
  .programacao-btn p {
    padding-right: 0px;
    text-align: center;
    margin-bottom: 30px;
  }

  .programacao-btn a {
    justify-self: center;
  }
}